form {
  margin-top: 15px;
  width: 29vw;
  margin: 0 auto;
}

form .error {
  font-style: italic;
  color: red;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top:30px
}

form .form-group.row {
  flex-direction: row;
}

button {
  width: 12vw;
  margin-left: 1vw;
}

.formStyle {
  margin-left: 1vw;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}