
<form [formGroup]="form" (submit)="submitForm()">
  <div class="formStyle form-group" *ngFor="let param of param_value; let i = index">
    <mat-form-field>
      <input matInput [formControlName]="param" [type]="text" [name]="param" placeholder="{{param}}">
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
  <button mat-raised-button color="primary" routerLink="/table" routerLinkActive="active">
    Back to table
  </button>
  <div *ngIf="submitted">
    <pre>{{ form.value | json }}</pre>
  </div>
</form>
