<button mat-button routerLink="/table" routerLinkActive="active">
  Back to table
</button>
<form [formGroup]="form" (submit)="submitForm()">
  <div class="form-group" *ngFor="let param of param_value; let i = index">
    <label [for]="param">{{ param }}</label>
    <div *ngFor="let key of param_key; let j = index">
      <input
        *ngIf="i === j"
        [formControlName]="key"
        [type]="text"
        [name]="key"
      />
    </div>
  </div>
  <button type="submit" mat-button [disabled]="form.invalid">Submit</button>
  <div *ngIf="submitted">
    <pre>{{ form.value | json }}</pre>
  </div>
</form>
